<div *ngIf="isLogged" class="layout">
  <!-- <alert type="success">hello</alert> -->
  <app-header></app-header>
</div>
<div [ngClass]="{'app-body': isLogged}">
  <router-outlet></router-outlet>

</div>
