<div class="container">
    <div class="row" style="padding-top: 20px;padding-bottom: 5px;">
        <div class="col-4 float-left">
            <form [formGroup]="userMgtForm" (ngSubmit)="submit()">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Create New User</h5>
                  <label class="card-text">Name</label>
                  <input type="text" class="form-control" formControlName="name" placeholder="">
                  <label class="card-text">Position</label>
                  <input type="text" class="form-control" formControlName="position" placeholder="">
                  <label class="card-text">Organization</label>
                  <input type="text" class="form-control" formControlName="organization" placeholder="">
                  <label class="card-text">Email</label>
                  <input type="text" class="form-control" formControlName="email" placeholder="">
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-4">
                    <button class="btn" style="background: grey;color: white;" (click)="cancel()">Cancel</button>
                </div>
                <div class="col-4">
                    <button *ngIf="!formSubmit" type="submit" class="btn" style="background: #5B6CE8;color: white;float: right;" [disabled]="formSubmit">Create</button>
                </div>
            </div>
        </form>
        </div>
        <div class="col-8">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">List of User</h5>
                  <table class="table table-striped table-bordered tableBodyScroll" style="width:100%;height: 50vh;">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Organization</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody class="table-body">
                        <tr *ngFor="let profile of profiles; let i= index">
                            <td>{{i+1}}</td>
                            <td>{{profile.name}}</td>
                            <td>{{profile.email}}</td>
                            <td>{{profile.organization_name}}</td>
                            <td>{{profile.status}}</td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
</div>