<nav class="navbar navbar-expand-lg">
    <!-- logo -->
    <div class="navbar-brand navbar-light bg-light">
        <a href="/" class="nav-header">
        <img src="../../../../assets/image/aerodyne-logo-dark.svg" style="width: max-content; height: 35px;">
        </a>
        <!-- <a href="/" class="nav-header"> Vertikaliti <span style="color:#d2c28c">SOLAR</span> </a> -->
        <!-- <a href="/" class="nav-header"> Aerodyne</a> -->
    </div>

    <button class="navbar-toggler navbar-light dropdown-toggle" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" (click)="hamburgerStatus = !hamburgerStatus">
        <div class="hamburger" [ngClass]="{'hide': hamburgerStatus}">
        </div>
    </button>
    <!-- menu content -->
    <div class="collapse navbar-collapse navbar-menu" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto navbar-left">
            <!-- <li class="nav-item">
                <a class="nav-link" href="/"> Vertikaliti SOLAR </a>
            </li> -->
           
        </ul>

        <ul class="navbar-nav navbar-right">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="site" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <img src="../../../../assets/image/site-management-icon.svg" > Site Management
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="site">
                    <li>
                        <a class="dropdown-item" (click)="viewSites()">
                            View All Sites
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" (click)="newSite()">
                            Create New Sites
                        </a>
                    </li>
                </div>
            </li>
            <li class="nav-item space-right">
                <a class="nav-link pointer" (click)="userMgmnt()">
                    <img src="../../../../assets/image/user-management-icon.svg" (click)="userMgmnt()"> User Management
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="../../../../assets/image/user-avatar-icon.svg" style="height: 25px;">
                    Hi, {{userDetails['fullname']}}
                    <fa-icon icon="caret-down"></fa-icon>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item">
                        {{userDetails['fullname']}}
                    </a>
                    <hr class="my-4" style="margin: 0 auto !important">
                    <a class="dropdown-item" (click)="logout()">Logout</a>
                </div>
            </li>
        </ul>

        <ul class="navbar-nav navbar-right">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="../../../../assets/image/notification-icon.svg" style="height: 25px;">
                    <span class="badge badge-danger badge-counter">{{notifiyCount}}</span>
                  </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown" >
                    <ul class="dropdown-item" >
                        <li *ngFor="let notification of notify">{{notification.information}}
                            <hr class="my-4" style="margin: 0 auto !important">
                        </li>
                    </ul>
                    <!-- <div class="row" *ngFor="let notification of notify">
                        <a class="dropdown-item">{{notification.information}}
                        <hr class="my-4" style="margin: 0 auto !important"></a>
                    </div> -->
                </div>
            </li>
        </ul>
    </div>
</nav>
<app-breadcrumb></app-breadcrumb>