<div #map class="map">

</div>

<div class="bottom">
    <div class="bottom-bar shadow-sm show">
        <div class="div-inspection-name">
            <div class="row" style="padding-top: 10px;padding-bottom: 10px;">
                <div class="col-md-6 col-4" style="color: black;">
                    List of Sites
                </div>
                <div class="col-md-6 col-8 action-btn-header">
                    <button class="btn btn-warning btn-sm" (click)="createProject()">New Project</button>
                </div>
                <div class="col-md-3">
                    <input [(ngModel)]="searchText" [typeahead]="siteHeader" (ngModelChange)="searchSite($event)" class="form-control" style="height: 3vh;font-size: 0.6rem;">
               </div>
            </div>
        </div>

        <div class="custom-table table-responsive-sm">
            <table class="table table-striped table-bordered tableBodyScroll">
                <colgroup>
                    <col width="20%" />
                    <col width="10%" />
                    <col width="20%" />
                    <col width="10%" />
                    <col width="10%" />
                    <col width="10%" />
                    <col width="10%" />
                </colgroup>
                <thead class="thead-dar">
                    <tr>
                        <th>Site Name</th>
                        <th>Country</th>
                        <th>Address</th>
                        <th>Project Start Date</th>
                        <th>Last Modified Date</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="table-body">
                    <tr *ngFor="let site of siteAll">
                        <td (click)="goSite(site)" class="pointer">{{site.name}}</td>
                        <td>{{site.country}}</td>
                        <td>{{site.address}}</td>
                        <td>{{site.started_at}}</td>
                        <td>{{site.updated_at}}</td>
                        <td>{{site.status}}</td>
                        <td><fa-icon icon="edit" class="pointer" (click)="goSite(site)"></fa-icon></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>