.map {
    width:100%; 
    height:100%
}

.bottom-new {
  background-color: #343a40;
  color : white;
}

.bottom {
    display: flex;
    position: absolute;
    /* left: 50%; */
    bottom: 0vh;
    background-color: #f5f5f5a3;
    overflow: hidden !important;
    /* transform: translateX(-48.5%); */
    overflow: scroll;
  }
  
  .bottom-bar {
    width: 100vw;
    height: 0vh;
    visibility: hidden;
    opacity: 0;
    transition: all 350ms ease-in-out;
    -moz-transition: all 350ms;
    -webkit-transition: all 350ms;
    -o-transition: all 350ms;
  }
  
  .bottom-bar.show {
    opacity: 1;
    visibility: visible;
    height: 25vh;
  }
  
  .bottom-bar.show.toggle {
    height: 0;
  }
  
  .bottom-bar table tr {
    text-align: center;
  }
  
  @media (max-width: 900px) {
    .bottom {
      top: 50vh;
      width: 100%;
      height: fit-content;
    }
    .bottom-bar {
      width: 100%;
    }
    .bottom-bar.show {
      height: 40vh;
    }
  }
  
  .model-content-custom{
    /* border-radius:1pc; */
    border: none;
  }

  .model-header-custom{
      text-align: center;
      border: none;
      color: #fff;
      background: #1b2538;
  }
  
.close-model{
  color: #fff;
}
  .text-box{
    border-radius:unset !important;
  }

  .model-footer-custom{
    padding: 10px;
    border:none;
  }

  .modal-body-custom {
    padding: 10px;
  }
  label, .text-box{
    font-size: 12px;
  }

/* table start */
  .custom-table {
    margin: auto;
    width: 98%;
  }
  .table {
    font-size: 10px;
  }
  
  .table tr {
    line-height: 0px;
  }
  
  .table .thead-dark th {
    color: #fff;
    background-color: #495057;
    border-color: #495057;
    white-space: nowrap;
    width: 1%;
  
  }
  
  .table .thead-dark td {
    background: #fff;
    white-space: nowrap;
    width: 1%;
    padding: 0.2rem;
  }
  
  .table .table-body {
    height: 100%;
    overflow-y: auto;
  }
  
  .table .table-body-row {
    background: #fff;
    line-height: 0px;
    line-height: initial;
  }
  
  .table .table-body-row:hover {
    background: #6495ed;
    cursor: pointer;
  }

  .tableBodyScroll tbody {
    display: block;
    max-height: 90px;
    overflow-y: scroll;
  }
  
  .tableBodyScroll thead,
  tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
  .fixed {
    table-layout: fixed;
  }

  /* table end */

  /* inspec bottom */
.div-inspection-name{
  background : rgba(255, 255, 255, 0.55);
  padding-left: 16px;
  color:#fff;
  font-size: 10px
}
.div-inspection-name .row {
  align-items: center;
  width: 100%;
}
.div-inspection-name .row .form-group {
  margin: 1rem;
}
.form-control-sm {
  font-size: 10px;
}
.div-inspection-name .btn {
  margin-left: 10px;
  float: right;
}
.btn-sm {
  font-size: 10px;
}
/* inspec bottom */

/* goolemap info window */
        
.info-window .info-header {
  display: flex;
}

.info-window .info-header .btn {
  width: 100px;
  border-radius: 0;
  margin: 0;
}

.info-window table th,
.info-window table td {
  padding: 0.4rem;
}

.less-opacity {
  opacity: 0.4;
}

.gm-style .gm-style-iw-t::after {
  left: 2vw !important;
}

/* .typeahead-container .dropdown .open .bottom .ng-tns-c61-3 .dropdown-menu .ng-star-inserted {
  position: absolute;
  display: block;
  height: 10vh;
  font-size: 0.6rem;
  visibility: inherit;
  will-change: transform;
  top: 0px;
  left: 0px;
  transform: translate3d(15px, 25px, 0px);
} */